<mat-card>
  <mat-card-header>
    Speed Control
  </mat-card-header>
  <mat-card-content>
    <div class="button-container">
      <button mat-fab color="primary" (click)="increaseSpeed()">+</button>
      <button mat-fab color="warn" (click)="decreaseSpeed()">-</button>
    </div>
    <div class="speed-display">
      <mat-card>
        <h3>
          Speed: {{speed$ | async}}
        </h3>
      </mat-card>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div>
      {{count}}
    </div>
    <div>
      <app-photo
        [photo]="photo$ | async"
      >
      </app-photo>
    </div>
  </mat-card-footer>
</mat-card>
