.todo-container {
  padding: 1rem 1rem;
  mat-card {
    width: 50%;
    max-width: 20rem;
    margin-bottom: 1rem;
    background-color: lightgray;
    mat-card-content {
      .title {
        span {
          margin-right: 1rem;
        }
      }
      width: 100%;
      height: 3rem;
    }
    mat-card-footer {
      height: 3rem;
      display: flex;
      justify-content: space-between;
      span {
        width: 50%;
        text-align: center;
      }
    }
  }
}

span.edit:hover {
  background: lightblue;
}
