<div class="todo-container">
  <div class="controls">
    <h4>Todos</h4>
    <button mat-fab color="primary" (click)="addTodo(null)">+</button>
  </div>
  <mat-card *ngFor="let todo of todos$ | async">
    <mat-card-content>
      <div class="title">
        <span class="edit" title="Click to edit" (click)="editTodo(todo)">{{todo.id}} (click to edit):</span>{{todo.title}}
      </div>
      <p>
        {{todo.description}}
      </p>
    </mat-card-content>
    <mat-card-footer>
      <span>Owner: {{todo.owner}}</span>
      <button
        (click)="toggleComplete(todo)"
        mat-raised-button
        color="{{ todo.complete ? 'accent' : 'primary' }}">{{ todo.complete ? 'Undo' : 'Complete'}}</button>
      <button
        (click)="deleteTodo(todo)"
        mat-raised-button
        color="warning"
      >Delete</button>
    </mat-card-footer>
  </mat-card>
</div>
